@import url("https://fonts.googleapis.com/css2?family=Acme&family=Monoton&family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Monoton&display=swap");

/************************************************** ESTILO GENERAL *************************************************************/

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  font-family: "Cormorant SC", serif;
}

.navegador {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
  padding-bottom: 25px;
  text-decoration: none;
}

.menu {
  text-decoration: none;
  text-shadow: 2px 2px #ee74e1;
}


footer {
  background-color: black;
  text-align: center;
  color: white;
}

/*********************************************************** INDEX ***********************************************************/
.gridPadre {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header"
    "directores actores"
    "directores actores"
    "generos generos"
    "about referencia"
    "about referencia"
    "footer footer";
}

.gridHeader {
  border: 3px black solid;
  background-color: black;
  color: white;
  text-align: left;
  grid-area: header;
}


.animate__animated {
  display: flex;
  font-family: "Monoton", cursive;
  font-size: 80px;
  justify-content: center;
  background: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.gridHijoDirectores {
  border: 3px black solid;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  padding: 45px;
  grid-area: directores;
}


.gridHijoActores {
  border: 3px black solid;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  padding: 15px;
  grid-area: actores;
}


.gridHijoGeneros {
  border: 3px black solid;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  padding: 15px;
  grid-area: generos;
}


.gridHijoAbout {
  border: 3px black solid;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  padding: 15px;
  grid-area: about;
}


.gridHijoReferencia {
  border: 3px black solid;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  padding: 65px;
  grid-area: referencia;
}


.gridFooter {
  border: 3px black solid;
  grid-area: footer;
}

/***************** TABLET/CELULAR ****************/
@media only screen and (max-width: 600px) {
  .gridPadre {
    grid-template-areas:
      "header"
      "directores"
      "actores"
      "generos"
      "about"
      "referencia"
      "footer";
  }

  .tituloPrincipal {
    font-size: 300%;
    text-align: center;
  }

  .navegador {
    display: block;
    height: 325px;
    overflow-y: auto;
  }

  .menu {
    display: block;
    padding: 12px;
  }
}

/*********************************************************** DIRECTORES Y ARTISTAS ****************************************************/
.gridPadreDYA {
  display: grid;
  gap: 20px;
  text-align: center;
  grid-template-areas:
    "header header"
    "uno uno"
    "dos dos"
    "tres tres"
    "return return"
    "footer footer";
}

.gridPadreDYA section {
  border: 3px solid white;
  border-radius: 600px;
  box-shadow: 5px 5px black;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}

.gridPadreDYA iframe {
  border: 3px solid white;
  border-radius: 600px;
  box-shadow: 3px 3px black;
  padding: 25px;
}

.section1 {
  grid-area: uno;
}

.section2 {
  grid-area: dos;
}

.section3 {
  grid-area: tres;
}

.return {
  grid-area: return;
}

/***************** TABLET ****************/
@media only screen and (max-width: 600px) {
  .gridPadreDYA {
    grid-template-areas:
      "header"
      "uno"
      "dos"
      "tres"
      "return"
      "footer";
  }

  .gridPadreDYA iframe {
    width: 500px;
    height: 180px;
    border: none;
    box-shadow: none;
  }
}

/***************** CELULAR *******************/
@media only screen and (max-width: 320px) {
  .gridPadreDYA {
    gap: 35px;
    grid-template-areas:
      "header"
      "uno"
      "dos"
      "tres"
      "return"
      "footer";
  }

  .gridPadreDYA iframe {
    width: 75%;
    border-radius: 60px;
  }

  .gridPadreDYA section {
    border-radius: 60px;
  }

  .tituloPrincipal {
    font-size: 200%;
    text-align: center;
  }

  .gridHeader {
    width: 100%;
  }

  .menu {
    font-size: 60%;
  }
}

/*********************************************************** GENEROS ***********************************************************/
.gridPadreGen {
  display: grid;
  gap: 20px;
  text-align: center;
  grid-template-areas:
    "header header"
    "cuatro cuatro"
    "cinco seis"
    "cinco seis"
    "return return"
    "footer footer";
}

.gridPadreGen section {
  border: 3px solid white;
  border-radius: 60px;
  box-shadow: 5px 5px black;
  width: 100%;
}

.gridPadreGen iframe {
  border: 3px solid white;
  border-radius: 60px;
  box-shadow: 3px 3px black;
  margin: 15px;
  width: 600px;
  height: 300px;
}

.section4 {
  grid-area: cuatro;
  display: flex;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.section4 li {
  text-align: left;
}

.section5 {
  grid-area: cinco;
  display: flex;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.section6 {
  grid-area: seis;
  display: flex;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.return {
  grid-area: return;
}

/***************** TABLET ****************/
@media only screen and (max-width: 600px) {
  .gridPadreGen {
    grid-template-areas:
      "header"
      "cuatro"
      "cinco"
      "seis"
      "return"
      "footer";
  }

  .gridPadreGen iframe {
    width: 500px;
    height: 180px;
    border: none;
    box-shadow: none;
  }
}

/***************** CELULAR *******************/
@media only screen and (max-width: 320px) {
  .gridPadreGen {
    gap: 35px;
    grid-template-areas:
      "header"
      "cuatro"
      "cinco"
      "seis"
      "return"
      "footer";
  }

  .gridPadreGen iframe {
    width: 75%;
  }

  .tituloPrincipal {
    font-size: 200%;
    text-align: center;
  }

  .gridHeader {
    width: 100%;
  }

  .menu {
    font-size: 60%;
  }
}

/*********************************************************** ACERCA DE ***********************************************************/

.gridPadreMe {
  display: grid;
  gap: 20px;
  text-align: center;
  grid-template-areas:
    "header header"
    "siete ocho"
    "siete ocho"
    "return return"
    "footer footer";
}

.gridPadreMe section {
  border: 3px solid white;
  border-radius: 60px;
  box-shadow: 5px 5px black;
  width: 100%;
}

.gridPadreMe img {
  display: inline-block;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  transform: rotate(-10deg);
}

.section7 {
  grid-area: siete;
  display: flex;
  flex-flow: wrap;
  
}

.section7 p {
  font-size: 25px;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.section7 dt {
  text-align: left;
  align-items: flex-start;
  padding: 10px;
}

.section7 dd {
  text-align: left;
  align-items: center;
  
}

.section8 {
  grid-area: ocho;
}

.return {
  grid-area: return;
}

/***************** TABLET ****************/
@media only screen and (max-width: 600px) {
  .gridPadreMe {
    gap: 35px;
    grid-template-areas:
      "header"
      "siete"
      "ocho"
      "return"
      "footer";
  }
}

/***************** CELULAR *******************/
@media only screen and (max-width: 320px) {
  .gridPadreMe {
    gap: 20px;
    grid-template-areas:
      "header"
      "siete"
      "ocho"
      "return"
      "footer";
  }

  .gridPadreMe img {
    width: 80%;
    transform: rotate(0deg);
  }

  .section7 {
    width: 40%;
    font-size: 15px;
    padding: 1px;
  }

  .section8 {
    width: 40%;
  }

  .tituloPrincipal {
    font-size: 200%;
    text-align: center;
  }

  .gridHeader {
    width: 100%;
  }

  .menu {
    font-size: 60%;
  }
}

/*********************************************************** CONTACTO ***********************************************************/

.gridPadreCtc {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header header"
    "nueve nueve"
    "diez diez"
    "return return"
    "footer footer";
}

.gridPadreCtc section {
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  justify-content: center;
}

.section9 {
  grid-area: nueve;
  text-align: center;
  font-size: 30px;
}

.section10 {
  grid-area: diez;
  font-size: 25px;
  padding: 1%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  justify-content: center;
}

.section10 label {
  display: block;
  align-items: center;
  justify-items: center;
  padding: 5px;
}

.section10 input {
  display: block;
  align-items: center;
  justify-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.return {
  grid-area: return;
  text-align: center;
}

/************** TABLET *******************/
@media only screen and (max-width: 600px) {
  .gridPadreCtc {
    gap: 35px;
    grid-template-areas:
      "header"
      "nueve"
      "diez"
      "return"
      "footer";
  }

  .section10 {
    width: 60%;
  }
}

/***************** CELULAR *******************/
@media only screen and (max-width: 320px) {
  .gridPadreCtc {
    gap: 35px;

    grid-template-areas:
      "header"
      "nueve"
      "diez"
      "return"
      "footer";
  }

  .section9 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .section10 {
    width: 90%;
  }

  .tituloPrincipal {
    font-size: 200%;
    text-align: center;
  }

  .gridHeader {
    width: 100%;
  }

  .menu {
    font-size: 60%;
  }
}

/******************************************** ANIMACIONES ******************************************************/

.animate__animated.animate__rubberBand {
  --animate-duration: 5s;
}

.menu:hover {
  background-color: #4158d0;
  background-image: linear-gradient(
    270deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: black;
  font-size: 35px;
  border: white 2px solid;
  border-radius: 30px;
  box-shadow: 3px 3px gray; 
}

.return:hover {
  font-size: 25px;
}

/*********** INDEX *************/

.gridHijoDirectores:hover {
  border-radius: 60px;
  box-shadow: 2px 2px black;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  font-size: 20px;
}

.gridHijoActores:hover {
  border-radius: 60px;
  box-shadow: 2px 2px black;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  font-size: 20px;
}

.gridHijoGeneros:hover {
  border-radius: 60px;
  box-shadow: 2px 2px black;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  font-size: 20px;
}

.gridHijoAbout:hover {
  border-radius: 60px;
  box-shadow: 2px 2px black;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  font-size: 20px;
}

.gridHijoReferencia:hover {
  border-radius: 60px;
  box-shadow: 2px 2px black;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  font-size: 20px;
}

/*********** DIRECTORES Y ARTISTAS *************/

.gridPadreDYA section {
  animation-name: fade-in;
  animation-duration: 6s;
}

@keyframes fade-in {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}

/*********** GENEROS *************/

.gridPadreGen section:hover {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  font-size: 25px;
}

.section5:hover {
  animation-name: fade-in;
  animation-duration: 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}


.section6:hover {
  animation-name: fade-in;
  animation-duration: 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}



/*********** ACERCA DE MI *************/

.gridPadreMe section:hover {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}
.section7:hover {
 
  font-size: 30px;
}

.section8:hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 700px;
  align-items: center;
}

.section8 img:hover {
  transform: rotate(0deg);
  transform: scale(1.5);
  box-shadow: 2px 2px black;
  top: 0;
  left: 0;
  width: 350px;
  height: 250px;
  transition: 1s;
}

/*********** CONTACTANOS *************/

.section10:hover {
  width: 40%;
  height: 95%;
}

.section10 input:focus {
  background-color: black;
  color: purple;
  border: 3px solid white;
  border-radius: 30px;
  box-shadow: 2px 2px gray;
  width: 200px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;

}